:root {
  /* fonts */
  --font-inter: Inter;
  --font-montserrat: Montserrat;
  --font-poppins: Poppins;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 0.88rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.13rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 2.25rem;
  --font-size-3xl: 2.5rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #212529;
  --color-gray-200: rgba(255, 255, 255, 0);
  --orange: #ff7e1d;
  --color-darkorange-200: #f88600;
  --color-darkslategray: #413d45;
  --color-black: #000;
  --color-chocolate-100: #f68a40;
  --color-chocolate-200: #fd7d31;
  --color-chocolate-300: #f47d31;
  --color-darkslateblue-100: #3a3072;
  --color-darkslateblue-200: #2f275c;
  --color-whitesmoke-100: #f6f8f9;
  --color-slateblue: #6354b2;
  --color-gainsboro: #dfdfdf;

  /* Gaps */
  --gap-md: 0.47rem;

  /* Paddings */
  --padding-7xs: 0.38rem;
  --padding-6xs: 0.69rem;
  --padding-5xs: 0.75rem;
  --padding-4xs: 0.82rem;
  --padding-3xs: 0.94rem;
  --padding-2xs: 1rem;
  --padding-xs: 1.25rem;
  --padding-sm: 1.31rem;
  --padding-md: 1.56rem;
  --padding-lg: 1.86rem;
  --padding-xl: 1.95rem;
  --padding-2xl: 2.81rem;
  --padding-3xl: 2.94rem;
  --padding-4xl: 3rem;
  --padding-5xl: 3.47rem;
  --padding-6xl: 5rem;

  /* border radiuses */
  --br-3xs: 8px;
  --br-2xs: 10px;
  --br-xs: 12px;
  --br-sm: 15px;
  --br-md: 16px;
  --br-lg: 25px;
  --br-xl: 44.5px;
  --br-2xl: 60px;
}
